## BACK
# Ignore bundler config.
mafi-back/.bundle

# Ignore all logfiles and tempfiles.
mafi-back/log/*
mafi-back/tmp/*
!mafi-back/log/.keep
!mafi-back/tmp/.keep

# Ignore pidfiles, but keep the directory.
mafi-back/tmp/pids/*
!mafi-back/tmp/pids/
!mafi-back/tmp/pids/.keep

# Ignore uploaded files in development.
mafi-back/storage/*
!mafi-back/storage/.keep
.byebug_history

# Ignore master key for decrypting credentials and more.
mafi-back/config/master.key
mafi-back/vendor

## APP
# dependencies
mafi-app/node_modules
mafi-app/.pnp
mafi-app/.pnp.js

# testing
mafi-app/coverage

# next.js
mafi-app/.next/
mafi-app/out/

# production
mafi-app/build

# misc
mafi-app/.DS_Store
mafi-app/*.pem

# debug
mafi-app/npm-debug.log*
mafi-app/yarn-debug.log*
mafi-app/yarn-error.log*

# local env files
mafi-app/.env.local
mafi-app/.env.development.local
mafi-app/.env.test.local
mafi-app/.env.production.local

# vercel
mafi-app/.vercel
